<header class="container hero">
  <nav class="navbar">
    <div class="logo">
      <img src="../../../../assets/media/coders.png" alt="logo" />
    </div>
    <ul class="menu">
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <section class="welcome">
    <h2>Hola</h2>
    <h1>Bienvenido a nuestra agencia de diseño y desarrollo digital</h1>
    <a class="btn" href="">Nosotros</a>
  </section>
</header>
