<main>
  <section class="container services">
    <h5 class="section-title">Servicios</h5>

    <div class="container-cards">
      <article class="card">
        <div class="card-header">
          <i class="fas fa-paint-brush"></i>
        </div>
        <div class="card-body">
          <h3>Diseño web</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            et facere consequuntur dolore, nobis laudantium, reiciendis facilis
            hic adipisci maxime nam harum! Soluta facere cumque, quod itaque
            architecto nam accusantium?
          </p>
        </div>
      </article>

      <article class="card">
        <div class="card-header">
          <i class="fas fa-tv"></i>
        </div>
        <div class="card-body">
          <h3>Desarrollo web</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            et facere consequuntur dolore, nobis laudantium, reiciendis facilis
            hic adipisci maxime nam harum! Soluta facere cumque, quod itaque
            architecto nam accusantium?
          </p>
        </div>
      </article>

      <article class="card">
        <div class="card-header">
          <i class="fas fa-rocket"></i>
        </div>
        <div class="card-body">
          <h3>Posicionamiento web</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            et facere consequuntur dolore, nobis laudantium, reiciendis facilis
            hic adipisci maxime nam harum! Soluta facere cumque, quod itaque
            architecto nam accusantium?
          </p>
        </div>
      </article>
    </div>
  </section>

  <section class="container nosotros">
    <h5 class="section-title">Nosotros</h5>
    <article class="container-info">
      <div class="btns">
        <a href="#" class="btn">Quienes somos</a>
        <a href="#" class="btn">Trayectoria</a>
        <a href="#" class="btn">Nuestros valores</a>
      </div>
      <div class="content-desc">
        <p class="text-nosotros">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, optio
          nesciunt veniam cum rem natus velit illo impedit exercitationem
          asperiores explicabo quaerat illum pariatur, quisquam iusto! Velit sit
          quidem architecto.
        </p>
      </div>
    </article>

    <article>
      <div class="card-trabajos">
        <figure>
          <img src="../../../assets/media/img1.jpg" alt="" />
        </figure>
        <div class="text">
          <h4>Construimos tu sitio web</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum rerum
            deserunt illum libero obcaecati, consectetur nam ipsum neque eaque
            fugiat modi est laborum dolorum necessitatibus laudantium itaque
            asperiores dignissimos nihil voluptatibus labore cumque voluptatem
            molestias beatae natus? Voluptas dolorum accusantium esse est iusto,
            aspernatur soluta animi officia eius maiores delectus? Sequi
            corrupti commodi dignissimos. Voluptatem hic quasi deleniti maxime
            ipsum!
          </p>
        </div>
      </div>

      <div class="card-trabajos">
        <div class="text">
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
            accusamus dolor perferendis, facilis quis vero. Deleniti, quia
            quibusdam? Excepturi, porro repellat earum provident corrupti hic
            fuga at amet, rem omnis distinctio nobis sequi, repellendus
            accusantium? Laboriosam, atque, quaerat eveniet inventore deleniti
            temporibus neque sit hic earum odit fugiat quo aut adipisci
            similique sint praesentium fuga ut necessitatibus nisi modi.
            Architecto.
          </p>
        </div>
        <figure>
          <img src="../../../assets/media/img2.jpg" alt="" />
        </figure>
      </div>
    </article>
  </section>
</main>
